<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	    <li data-target="#demo" data-slide-to="3"></li>
	    <li data-target="#demo" data-slide-to="4"></li>
	    <li data-target="#demo" data-slide-to="5"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner ">
	  	<div class="carousel-item active" id="try1" >
			<img src="../../assets/images/shop.jpg" width="1000px" alt="magasiner">
	    </div>
	     <div class="carousel-item "  *ngFor="let article of articles">
	     	<div class="container">
				<div class=items >
					<div class="donnees">
						<b>ID:</b>: {{article.id}} <br/>
						<b>NOM:</b> {{article.nom}}<br>
						<b>MARQUE:</b> {{article.marque}}<br>
						<b>PRIX:</b> <h4>{{article.prix}} CDN$</h4><br>
						<b>DESCRIPTION:</b> {{article.description}}
					</div>
					<div class="pic">
						<img src="{{article.image}}" width="300px" alt="article">
					</div>
				</div>
			</div>     
	    </div>
	 
	  	<!-- Left and right controls -->
	  	<a class="carousel-control-prev" href="#demo" data-slide="prev">
	    	<span class="carousel-control-prev-icon"></span>
	 	 </a>
	 	 <a class="carousel-control-next" href="#demo" data-slide="next">
	   	 	<span class="carousel-control-next-icon"></span>
	 	 </a>
	</div>
</div>