<meta charset="UTF-8">
<div class="gerant">
	<div>
		<img src="../../assets/images/gerant.jpg" class="rounded" width="600px" alt="gerant" >
	</div>
	<div class="infos"> 
		<div>
			<b>Nom du gérant:</b><br>
			<h4 style="color:red">Jean Tremblay</h4>
		</div>
		<div>   
			<b>Description:</b><br>
			Le gerant et le propriétaire de la boutique Quebec Informatique
			<h4 style="color:red">(QI en sigle)</h4> 
			qui  est spécialisée dans la vente et conseil de proximité des matériels
			et logiciels informatiques. 
		</div>
	</div>
</div>
<div class="contact">
	<div >
		<h5>OUR ADDRESS</h5>
		<h1>WHERE YOU CAN FIND US</h1>
		<hr color="red" width="300px">
	</div>
	<div class="container">
		<div class="items">
			<div class="icon">
				<i id="mot" class="fa fa-phone" aria-hidden="true"></i>
			</div>
			<div>
				<h5>Call us</h5>
				<b>+1515-515-0000</b>
			</div>
		</div>
		<div class="items">
			<div class="icon">
				<i id="mot" class="fa fa-envelope" aria-hidden="true"></i>
			</div>
			<div>
				<h5>Email Address</h5>
				<b>QI@shop.com</b>	
			</div>
		</div>
		<div class="items">
			<div class="icon">
				<i id="mot" class="fa fa-map-marker" aria-hidden="true"></i>
			</div>
			<div>
				<h5>Address</h5>
				<b>4297 Rosemont,Montreal</b>
			</div>
		</div>
	</div>
</div>

