<div class="entete">
	<div class="barrenoir"></div>
	<div class="sousbarrenoir">
		<h6>
			Situation <a href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/" style="color:#0000ff;">Covid19</a>
		</h6>
	</div>
	<div class="flex-container">
		<div>
			<a href="./"><img alt="logo-QI" src="../assets/images/logo.png" title="logo" width="200px"></a>
		</div>
		<div class="titre">
			<h2>
				<br>LA BOUTIQUE QUEBEC INFORMATIQUE
			</h2>
			<hr>
			<ul class="nav justify-content-center">
				<li class="nav-item active ">
					<a class="nav-link"routerLink="/magasiner" >MAGASINER</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="/gérant">GERANT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="contact" >CONTACT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="/commander">COMMANDER</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="/suivi">SUIVI DES COMMANDES</a>
				</li>	
			</ul>
		</div>
		<div>
			<img alt="cava bien aller " title="logo" src="../assets/images/covidlogo.jpg" width="200px">
		</div>
	</div>
	<hr>
</div>
