.footer {
	bottom: 50;
	width: 100%;
	background-color: #000;
	color: white;
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 300px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
}
a:hover {
	color: orange;
	cursor: pointer;
}