<meta charset="UTF-8">

<div class="footer">
	<div class="flex-container">
		<div>
			<p>
				À propos :<br>
			</p>
			<hr style="background-color: white;">
			ce site à été developpé <br> dans le cadre <br> du cours
			<a href="https://etudier.uqam.ca/cours?sigle=INF3190"> INF3190 </a> 
			de l’<a href="https://uqam.ca/">UQAM</a>
		</div>	
		<div>
			<p>
				Développeurs:<br>
			</p>
			<hr style="background-color: white;">
			Nom: BEN LAMIN <br> Prenom: 
			<a href="mailto:bj291929@ens.uqam.ca">SOUKAINA</a><br> 
			Code permanent:BENS10549601
		</div>
		<div>
			<p>
				Données brutes :<br>
			</p>
			<hr style="background-color: white;">
           Fichier 
           <a href="../../assets/data/bd.json" target="_blank">"bd.json"</a><br>
		   Fichier 
		   <a href="../../assets/data/commandes.json" target="_blank">"commandes.json"</a>
	   </div>
	</div>
</div> 